*.class
*~
*.lock
*.DS_Store
*.swp
*.out
target/

bin/
/bundles/org.eclipse.emf.emfstore.server.model.edit/bin
/bundles/org.eclipse.emf.emfstore.server.model/bin
/bundles/org.eclipse.emf.emfstore.server/bin
/bundles/org.eclipse.emf.emfstore.migration.cope/bin
/bundles/org.eclipse.emf.emfstore.migration/bin
/bundles/org.eclipse.emf.emfstore.ecore/bin
/bundles/org.eclipse.emf.emfstore.common.model.edit/bin
/bundles/org.eclipse.emf.emfstore.common.model/bin
/bundles/org.eclipse.emf.emfstore.common/bin
/bundles/org.eclipse.emf.emfstore.client.ui/bin
/bundles/org.eclipse.emf.emfstore.client.test/bin
/bundles/org.eclipse.emf.emfstore.client.model.edit/bin
/bundles/org.eclipse.emf.emfstore.client/bin
/bundles/org.eclipse.emf.emfstore.perspective/bin

/tests/org.eclipse.emf.emfstore.client.test/bin/