<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.client.ui.historyBrowserComparator">
      <Comparator
            comparator="org.eclipse.emf.emfstore.client.ui.historybrowsercomparator.EMFCompareComparator"
            name="org.eclipse.emf.emfstore.client.ui.historyBrowserComparator.Comparator1">
      </Comparator>
   </extension>

</plugin>
