<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.emf.emfstore.client.ui.merge.customoption" name="customoption" schema="schema/org.eclipse.emf.emfstore.client.ui.customoption.exsd"/>
  <extension-point id="org.eclipse.emf.emfstore.client.ui.commitdialog.tray" name="org.eclipse.emf.emfstore.client.ui.commitdialog.tray" schema="schema/org.eclipse.emf.emfstore.client.ui.commitdialog.tray.exsd"/>
  <extension-point id="org.eclipse.emf.emfstore.client.ui.merge.detailwidget" name="Merge Detail Widget" schema="schema/org.eclipse.emf.emfstore.client.ui.merge.detailwidget.exsd"/>
  <extension
        point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.emfstore.client.ui.handlers.RevertHandler"
            commandId="org.eclipse.emf.emfstore.client.ui.revert">
         <enabledWhen>
            <and>
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                        value="true">
                  </test>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.emfstore.client.ui.handlers.UndoLastOperationHandler"
            commandId="org.eclipse.emf.emfstore.client.ui.undoLastOperation">
         <enabledWhen>
            <and>
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                        value="true">
                  </test>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
     <handler
           class="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportChangesHandler"
           commandId="org.eclipse.emf.emfstore.client.ui.importChanges">
        <enabledWhen>
           <and>
              <iterate
                    ifEmpty="true"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                       value="true">
                 </test>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="org.eclipse.emf.emfstore.client.ui.handlers.CommitProjectHandler"
           commandId="org.eclipse.emf.emfstore.client.ui.commitProject">
        <enabledWhen>
           <and>
              <iterate
                    ifEmpty="true"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                       value="true">
                 </test>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="org.eclipse.emf.emfstore.client.ui.handlers.CreateBranchHandler"
           commandId="org.eclipse.emf.emfstore.client.ui.createBranch">
        <enabledWhen>
           <and>
              <iterate
                    ifEmpty="true"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                 </instanceof>
                 <!-- <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                       value="true">
                 </test> -->
              </iterate>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="org.eclipse.emf.emfstore.client.ui.handlers.MergeBranchHandler"
           commandId="org.eclipse.emf.emfstore.client.ui.mergeBranch">
        <enabledWhen>
           <and>
              <iterate
                    ifEmpty="true"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                 </instanceof>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="org.eclipse.emf.emfstore.client.ui.handlers.SaveProjectSpaceHandler"
           commandId="org.eclipse.emf.emfstore.client.ui.save">
        <enabledWhen>
           <and>
              <iterate>
                 <instanceof
                       value="org.eclipse.emf.ecore.EObject">
                 </instanceof>
              </iterate>
              <with
                    variable="org.eclipse.emf.emfstore.client.ui.currentProjectSpaceSaveState">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.currentProjectSpacehasUnsavedChangesTester"
                       value="true">
                 </test>
              </with>
           </and></enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.emf.emfstore.client.notify.postinit">
     <initiator
           class="org.eclipse.emf.emfstore.client.ui.util.ProjectListUpdater">
     </initiator>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
          <menuContribution
           locationURI="popup:org.eclipse.emf.emfstore.client.ui.views.RepositoryView?after=additions">
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.Login"
              icon="icons/serverLogin.png"
              label="Login"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
                       value="false">
                 </test>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.Logout"
              icon="icons/lock.png"
              label="Logout"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
                       value="true">
                 </test>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectCheckout"
              icon="icons/checkout.png"
              label="Checkout"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.BranchCheckout"
              icon="icons/checkout.png"
              label="Checkout Branch..."
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.CreateProjectOnServer"
              icon="icons/projectAdd.png"
              label="Create new project..."
              style="push"
              tooltip="Create new project on the server">

           <visibleWhen
           		checkEnabled="false">
				<iterate
	               ifEmpty="false"
	               operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.isServerAdmin"
                       value="true">
                 </test>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
                       value="true">
                 </test>
                 </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ManageOrgUnits"
              icon="icons/Group.gif"
              label="Manage Users/Groups..."
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.isServerAdmin"
                       value="true">
                 </test>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
                       value="true">
                 </test>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ExportProjectHistory"
              icon="icons/database_go.png"
              label="Export project history"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.commands.isServerAdmin"
                       value="true">
                 </test>
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ImportProjectHistory"
              icon="icons/folder_go.png"
              label="Import Project History"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.commands.isServerAdmin"
                       value="true">
                 </test>
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.DeleteProjectOnServer"
              icon="icons/delete.gif"
              label="Delete on server"
              style="push"
              tooltip="Delete this project on the server">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.isServerAdmin"
                       value="true">
                 </test>
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.RemoveServer"
              icon="icons/delete.gif"
              label="Remove repository"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ServerInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.AddServer"
              icon="icons/serverAdd.png"
              label="New Repository..."
              style="push"
              tooltip="Adds a new EMFStore Repository">
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectProperties"
              icon="icons/info.png"
              label="Project Properties"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ServerProperties"
              icon="icons/serverEdit.png"
              label="Server Properties"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ServerInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
          <menuContribution
                locationURI="popup:org.eclipse.emf.emfstore.client.ui.views.historybrowserview.HistoryBrowserView">
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.addtag"
                   icon="icons/tag_blue_add.png"
                   label="Add tag"
                   style="push"
                   tooltip="Add a new tag to this revision">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="true"
                         operator="and">
                      <instanceof
                            value="org.eclipse.emf.emfstore.server.model.versioning.HistoryInfo">
                      </instanceof>
                   </iterate>
                </visibleWhen>
             </command>
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.removetag"
                   icon="icons/tag_blue_delete.png"
                   label="Remove tag"
                   style="push"
                   tooltip="Remove an existing tag">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <instanceof
                            value="org.eclipse.emf.emfstore.server.model.versioning.HistoryInfo">
                      </instanceof>
                   </iterate>
                </visibleWhen>
             </command>
             <separator
                   name="org.eclipse.emf.emfstore.client.ui.historybrowserview.tagseparator"
                   visible="true">
             </separator>
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.checkout"
                   label="Checkout this revision"
                   style="push"
                   tooltip="Checkout this revision of the project">
             </command>
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.revert"
                   label="Revert to this revision"
                   style="push"
                   tooltip="Force to revert, the reversed changes between the previous revision has been applied">
             </command>
          </menuContribution>
          <menuContribution
                locationURI="popup:org.eclipse.emf.emfstore.client.ui.views.RepositoryView?after=org.eclipse.emf.emfstore.client.ui.repositorybrowser.ManageOrgUnits">
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.RegisterEPackage"
                   icon="icons/arrow_up.png"
                   label="Register EPackage"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.testers.isServerAdmin"
                            value="true">
                      </test>
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
                            value="true">
                      </test>
                   </iterate>
                </visibleWhen>
             </command>
          </menuContribution>
          <menuContribution
                locationURI="toolbar:org.eclipse.ui.main.toolbar">
             <toolbar
                   id="org.eclipse.emf.emfstore.client.ui.toolbar">
                <command
                      commandId="org.eclipse.emf.emfstore.client.ui.save"
                      icon="icons/database_save.png"
                      label="Save Project"
                      style="push">
                   <visibleWhen
                         checkEnabled="false">
                      <test
                            property="org.eclipse.emf.emfstore.client.ui.testers.isAutoSaveEnabled"
                            value="false">
                      </test>
                   </visibleWhen>
                </command>
             </toolbar>
          </menuContribution>
  </extension>
  
 
     
     <extension
           point="org.eclipse.ui.bindings">
        <key
              commandId="org.eclipse.emf.emfstore.client.ui.commitProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+C">
        </key>
        <key
              commandId="org.eclipse.emf.emfstore.client.ui.updateProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+P">
        </key>
        <key
              commandId="org.eclipse.emf.emfstore.client.ui.deleteProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+Delete">
        </key>
        <key
              commandId="org.eclipse.emf.emfstore.client.ui.projectProperties"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+E">
        </key>
     </extension>
     <extension
           point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.ProjectIsSharedTester"
              id="org.eclipse.emf.emfstore.client.ui.commands.projectIsSharedTester"
              namespace="org.eclipse.emf.emfstore.client.ui.commands"
              properties="projectIsShared"
              type="org.eclipse.emf.emfstore.client.model.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.ProjectHasLocalChangesTester"
              id="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChangesTester"
              namespace="org.eclipse.emf.emfstore.client.ui.commands"
              properties="projectHasLocalChanges"
              type="org.eclipse.emf.emfstore.client.model.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.IsAdminTester"
              id="org.eclipse.emf.emfstore.client.ui.commands.isAdminTester"
              namespace="org.eclipse.emf.emfstore.client.ui.commands"
              properties="isAdmin"
              type="org.eclipse.emf.ecore.EObject">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.views.historybrowserview.HistoryBrowserAdminTester"
              id="org.eclipse.emf.emfstore.client.ui.commands.historyBrowserAdminTester"
              namespace="org.eclipse.emf.emfstore.client.ui.commands"
              properties="historyBrowserAdminTester"
              type="org.eclipse.emf.emfstore.client.model.ServerInfo">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.IsACUserTester"
              id="org.eclipse.emf.emfstore.client.ui.commands.isACUserTester"
              namespace="org.eclipse.emf.emfstore.client.ui.commands"
              properties="isACUser"
              type="org.eclipse.emf.emfstore.client.model.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.IsServerAdminTester"
              id="org.eclipse.emf.emfstore.client.ui.testers.isServerAdmin"
              namespace="org.eclipse.emf.emfstore.client.ui.testers"
              properties="isServerAdmin"
              type="org.eclipse.emf.ecore.EObject">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.ServerInfoIsLoggedInTester"
              id="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
              namespace="org.eclipse.emf.emfstore.client.ui.testers"
              properties="serverInfoIsLoggedIn"
              type="org.eclipse.emf.emfstore.client.model.ServerInfo">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.CurrentProjectSpaceHasUnsavedChangesTester"
              id="org.eclipse.emf.emfstore.client.ui.currentProjectSpacehasUnsavedChangesTester"
              namespace="org.eclipse.emf.emfstore.client.ui"
              properties="currentProjectSpacehasUnsavedChangesTester"
              type="java.lang.Object">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.IsAutoSaveEnabledTester"
              id="org.eclipse.emf.emfstore.client.ui.testers.isAutoSaveEnabled"
              namespace="org.eclipse.emf.emfstore.client.ui.testers"
              properties="isAutoSaveEnabled"
              type="java.lang.Object">
        </propertyTester>
     </extension>
        
           <extension
         point="org.eclipse.ui.views">
      <view
            name="EmfStore Browser" 
            icon="icons/serverDB.png"
            category="org.eclipse.emf.ecp"
            class="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.views.ESBrowserView"
            id="org.eclipse.emf.emfstore.client.ui.views.RepositoryView">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.emf.ecp"
            class="org.eclipse.emf.emfstore.client.ui.views.historybrowserview.HistoryBrowserView"
            icon="icons/historyview.png"
            id="org.eclipse.emf.emfstore.client.ui.views.historybrowserview.HistoryBrowserView"
            name="History Browser"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.provider.ESBrowserLabelDecorator"
           id="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.LoginDecorator"
           label="Login Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.emf.emfstore.client.model.ServerInfo">
           </objectClass>
        </enablement>
     </decorator>
  </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.sessionprovider">
      <sessionProvider
            class="org.eclipse.emf.emfstore.client.ui.dialogs.login.BasicUISessionProvider">
      </sessionProvider>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.sessionprovider">
      <sessionProvider
            class="org.eclipse.emf.emfstore.client.ui.dialogs.login.BasicUISessionProvider">
      </sessionProvider>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.loginObserver">
      <observer
            loginObserver="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.provider.ESBrowserLabelDecorator">
      </observer>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.logoutObserver">
      <observer
            logoutObserver="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.provider.ESBrowserLabelDecorator">
      </observer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emf.emfstore.client.ui.project"
            name="ECP">
      </category>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportChangesHandler"
            id="org.eclipse.emf.emfstore.client.ui.importChanges"
            name="Import Changes">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportProjectHandler"
            id="org.eclipse.emf.emfstore.client.ui.importProject"
            name="Import Project">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportProjectHandler"
            id="org.eclipse.emf.emfstore.client.ui.exportProject"
            name="Export Project">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ShowHistoryHandler"
            id="org.eclipse.emf.emfstore.client.ui.commands.showHistory"
            name="Show History">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportChangesHandler"
            id="org.eclipse.emf.emfstore.client.ui.exportChanges"
            name="Export Changes">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportProjectSpaceHandler"
            id="org.eclipse.emf.emfstore.client.ui.exportProjectSpace"
            name="Export Projectspace">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportWorkspaceHandler"
            id="org.eclipse.emf.emfstore.client.ui.exportWorkSpace"
            name="Export Workspace">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportProjectSpaceHandler"
            id="org.eclipse.emf.emfstore.client.ui.importProjectSpace"
            name="Import Projectspace">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.AddServerHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.AddServer"
            name="Add Server">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ServerLoginHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.Login"
            name="Login">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ChangeSessionHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.Logout"
            name="Logout">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CreateProjectOnServerHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.CreateProjectOnServer"
            name="Create Project On Server">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.DeleteProjectOnServerHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.DeleteProjectOnServer"
            name="Delete Project On Server">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.DeleteServerHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.RemoveServer"
            name="Remove Server">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportProjectHistoryHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ExportProjectHistory"
            name="Export Project History">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportProjectHistoryHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ImportProjectHistory"
            name=" ImportProject History">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ManageOrgUnitsHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ManageOrgUnits"
            name="Manage OrgUnits">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CheckoutHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectCheckout"
            name="Project Checkout">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ServerPropertiesHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ServerProperties"
            name="Server Properties">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ProjectPropertiesHandler"
            id="org.eclipse.emf.emfstore.client.ui.projectProperties"
            name="Project Properties">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.BranchCheckoutHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.BranchCheckout"
            name="Branch Checkout">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ProjectInfoPropertiesHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectProperties"
            name="ProjectInfo Properties">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CheckoutRevisionHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.checkout"
            name="CheckoutRevision">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.AddTagHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.addtag"
            name="AddTag">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.RemoveTagHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.removetag"
            name="RemoveTag">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.RevertCommitHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.revert"
            name="Revert Revision">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.epackages.RegisterEPackageHandler"
            id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.RegisterEPackage"
            name="RegisterEPackage">
      </command>
      <command
            id="org.eclipse.emf.emfstore.client.ui.save"
            name="Save Project">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            id="org.eclipse.emf.emfstore.client.ui.commitProject"
            name="commit">
      </command>
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            id="org.eclipse.emf.emfstore.client.ui.createBranch"
            name="create branch">
      </command>
         <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.UpdateProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.updateProject"
           name="update">
     </command>
         <command
               categoryId="org.eclipse.emf.emfstore.client.ui.project"
               defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.UpdateProjectVersionHandler"
               id="org.eclipse.emf.emfstore.client.ui.updateProjectVersion"
               name="updateToVersion">
         </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ShareProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.shareProject"
           name="share">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.DeleteProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.deleteProject"
           name="deleteProject">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CreateLocalProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.NewLocalProject"
           name="NewLocalProject">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           id="org.eclipse.emf.emfstore.client.ui.revert"
           name="Revert">
     </command>
     <command
           id="org.eclipse.emf.emfstore.client.ui.undoLastOperation"
           name="undoLastOperation">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ProjectInfoPropertiesHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectProperties"
           name="ProjectInfo Properties">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CompareProjectsHandler"
           id="org.eclipse.emf.emfstore.client.ui.compareProjects"
           name="compareProjects">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           id="org.eclipse.emf.emfstore.client.ui.mergeBranch"
           name="mergeBranch">
     </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.eclipse.emf.emfstore.client.ui.testers.ProjectSpacePropertySourceProvider">
         <variable
               name="org.eclipse.emf.emfstore.client.ui.currentProjectSpaceSaveState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
</plugin>
