<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ECP RCP" sequenceNumber="216">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.3.v20130125-0826"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20121212-203907-7M7fA78g4_y-gDvtH0ZcFvhMPDZJ"/>
<unit id="org.eclipse.jetty.sdk.feature.group" version="8.1.3.201206060641"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.1.2.v20130126-1033"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.6.0.v20120328-0001-777Z-9A_WsZmcPluNecyPkvrPKlH"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.6.0.v20120328-0001-67T-96SGR75UNqZNTdeQnghI6uFA"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201212170307"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.1.2.v20121030-0624"/>
<unit id="org.eclipse.jdt.feature.group" version="3.8.2.v20130116-090414-8-8nFu3FNOfwKLRuqgXKIy9z0I83"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.h2" version="1.1.117.v201105142352"/>
<unit id="org.h2.source" version="1.1.117.v201105142352"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.2.1.M20120914-1800"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20120522-1841-7M7fA78g5_y-g-jtHxcd5k8q8lFR"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.10.0.v20130522-0609"/>
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.10.0.v20130522-0609"/>
<repository location="http://download.eclipse.org/graphiti/updates/milestones/S-0.10.0RC1-201305220609"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.ecore.feature.feature.group" version="1.0.0.v20130523-0908"/>
<unit id="org.eclipse.emf.emfstore.client.transaction.feature.feature.group" version="1.0.0.v20130523-0908"/>
<unit id="org.eclipse.emf.emfstore.modelmutator.feature.feature.group" version="1.0.0.v20130523-0908"/>
<unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="1.0.0.v20130523-0908"/>
<unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="1.0.0.v20130523-0908"/>
<unit id="org.eclipse.emf.emfstore.example.feature.feature.group" version="1.0.0.v20130523-0908"/>
<unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="1.0.0.v20130523-0908"/>
<unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="1.0.0.v20130523-0908"/>
<repository location="http://download.eclipse.org/emf-store/milestones/100RC4"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.mongodb.feature.feature.group" version="2.9.3.201211071007"/>
<repository location="http://bryanhunt.github.com/mongo-emf/mongodb/2.9.3"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.mongo.emf.feature.feature.group" version="0.7.1.201211071319"/>
<unit id="org.eclipselabs.mongo.emf.feature.source.feature.group" version="0.7.1.201211071319"/>
<repository location="http://bryanhunt.github.com/mongo-emf/releases/0.7.1"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edapt.recorder.feature.feature.group" version="0.3.0.201205312242"/>
<unit id="org.eclipse.emf.edapt.runtime.feature.feature.group" version="0.3.0.201205312242"/>
<unit id="org.eclipse.emf.edapt.runtime.sdk.feature.feature.group" version="0.3.0.201205312242"/>
<unit id="org.eclipse.emf.edapt.recorder.sdk.feature.feature.group" version="0.3.0.201205312242"/>
<repository location="http://download.eclipse.org/edapt/update-site/"/>
</location>
</locations>
</target>
