<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ECP RCP" sequenceNumber="219">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.h2" version="1.1.117.v201105142352"/>
<unit id="org.h2.source" version="1.1.117.v201105142352"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.10.0.v20130612-0936"/>
<unit id="org.eclipse.jdt.feature.group" version="3.9.0.v20130605-2000"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.2.0.v20130612-0849"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.2.0.v20130613-1556"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.10.0.v20130612-0936"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130610-0406"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.7.0.201306111341"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201305060205"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.mongo.emf.feature.feature.group" version="0.7.1.201211071319"/>
<unit id="org.eclipselabs.mongo.emf.feature.source.feature.group" version="0.7.1.201211071319"/>
<repository location="http://bryanhunt.github.com/mongo-emf/releases/0.7.1"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.modelmutator.feature.feature.group" version="1.0.0.v20130624-0607"/>
<unit id="org.eclipse.emf.emfstore.ecore.feature.feature.group" version="1.0.0.v20130624-0607"/>
<unit id="org.eclipse.emf.emfstore.client.transaction.feature.feature.group" version="1.0.0.v20130624-0607"/>
<unit id="org.eclipse.emf.emfstore.client.ui.historybrowsercomparator.feature.feature.group" version="1.0.0.v20130624-0607"/>
<unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="1.0.0.v20130624-0607"/>
<unit id="org.eclipse.emf.emfstore.common.feature.feature.group" version="1.0.0.v20130624-0607"/>
<unit id="org.eclipse.emf.emfstore.example.feature.feature.group" version="1.0.0.v20130624-0607"/>
<unit id="org.eclipse.emf.emfstore.server.feature.feature.group" version="1.0.0.v20130624-0607"/>
<unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="1.0.0.v20130624-0607"/>
<repository location="http://download.eclipse.org/emf-store/milestones/100RC5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20121212-203907-7M7fA78g4_y-gDvtH0ZcFvhMPDZJ"/>
<unit id="org.eclipse.platform.ide" version="4.2.2.M20130204-1200"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
</locations>
</target>
