<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.client.resourceSetProvider">
      <resourceSetProvider
            class="org.eclipse.emf.emfstore.mongodb.client.MongoDBClientResourceSetProvider">
      </resourceSetProvider>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.server.resourceSetProvider">
      <resourceSetProvider
            class="org.eclipse.emf.emfstore.mongodb.server.MongoDBServerResourceSetProvider">
      </resourceSetProvider>
   </extension>

</plugin>
