<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.emfstore.client.connectionManager">
      <connectionManager
            class="org.eclipse.emf.emfstore.jax.client.JaxrsConnectionManager">
      </connectionManager>
   </extension>

</plugin>
