<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.emfstore.fuzzy.emf.config.presentation.ConfigModelWizardID"
            name="%_UI_ConfigModelWizard_label"
            class="org.eclipse.emf.emfstore.fuzzy.emf.config.presentation.ConfigModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConfigModelFile.gif">
         <description>%_UI_ConfigModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.emfstore.fuzzy.emf.config.presentation.ConfigEditorID"
            name="%_UI_ConfigEditor_label"
            icon="icons/full/obj16/ConfigModelFile.gif"
            extensions="fuzzy"
            class="org.eclipse.emf.emfstore.fuzzy.emf.config.presentation.ConfigEditor"
            contributorClass="org.eclipse.emf.emfstore.fuzzy.emf.config.presentation.ConfigActionBarContributor">
      </editor>
   </extension>

</plugin>
